.navbar {
  background-color: var(--color3);
  min-height: 90px;
}
.navbar-icon {
  width: 4rem;
  margin-right: 3rem;
}
.nav-link {
  color: var(--color6) !important;
  font-weight: bolder;
}
.dropdown-item {
  font-weight: bolder;
  color: var(--color4) !important;
  background-color: var(--color2) !important;
}
.dropdown-item:hover {
  background-color: var(--color1) !important;
}
.dropdown-menu {
  background-color: var(--color2) !important;
}
