@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.App {
  text-align: center;
  font-family: var(--Font1);
}

.outlet {
  min-height: 95vh;
}

:root {
  --color1: #e9d20e;
  --color2: #bdb465;
  --color3: #131e22;
  --color4: #254b67;
  --color5: #fa5226;
  --color6: #ffd239;
  --color7: #ffffa2;
  --Font1: "Ubuntu", sans-serif;
}

/**  KEY FRAMES  **/
@keyframes leftAnimation {
  from {
    opacity: 0%;
    position: relative;
    left: -50px;
  }
  to {
    opacity: 100%;
    position: relative;
    left: 0px;
  }
}

@keyframes rightAnimation {
  from {
    opacity: 0%;
    position: relative;
    right: -50px;
  }
  to {
    opacity: 100%;
    position: relative;
    right: 0px;
  }
}
@keyframes fadeinAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
