@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.App {
  text-align: center;
  font-family: var(--Font1);
}

.outlet {
  min-height: 95vh;
}

:root {
  --color1: #e9d20e;
  --color2: #bdb465;
  --color3: #131e22;
  --color4: #254b67;
  --color5: #fa5226;
  --color6: #ffd239;
  --color7: #ffffa2;
  --Font1: "Ubuntu", sans-serif;
}

/*


background: rgb(0, 0, 0);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4920343137254902) 0%,
      rgba(0, 0, 0, 0.520045518207283) 100%
    ),
    url("/public/img/linux-yellow.png");
  background-attachment: fixed;
  background-size: cover;




*/
